{
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "dynamic-import-webpack",
        "transform-class-properties",
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true,
            }
        ],
    ],
    "presets": [
        "@babel/react",
        ["@babel/env", { "modules": false }]
    ]
}
